web: node app.js

npm install -g pm2
pm2 start app.js
// will also need to configure environment variables on the server to keep sensitive information like secret keys and database credentials secure.

// You will also need to set up a process to handle the automatic deployment when you push your changes to the repository, you can use services like Travis or CircleCI to automate the deployment process.